<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/"
	 crossorigin="anonymous">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgerlicious Devour Menu</title>
</head>

<body>

	<div class="center">
		<img src="./assets/img/hb.png" alt="burger" class="img-fluid" align="center">
	</div>

	{{{ body }}}

	<!--Footer-->
	<footer class="page-footer font-small indigo pt-0">

		<!--Footer Links-->
		<div class="container">

			<!--First row-->
			<div class="row">

				<!--First column-->
				<div class="col-md-12 ">

					
					</div>
				</div>
				<!--/First column-->
			</div>
			<!--/First row-->
		</div>
		<!--/Footer Links-->

		<!--Copyright-->
		<div class="footer-copyright text-center">
			© 2018 Rights Reserved
		</div>
		<!--/Copyright-->

	</footer>
	<!--/Footer-->


	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>

</body>

</html>