<h1 class="center">Eat-Da-Burger!</h1>

<main>
	<div class="row">
		<div class="col center">
			<form action="/burgers" method="POST">
				<input type="text" id="name" name="burger_name" placeholder="Add A Burger" class="form-control" required>
				<p></p>
				<button type="submit" class="addBurgerButton btn btn-primary btn-block">Add The Burger</button>
			</form>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="card card-body">
				<h2 class="center">To Be Eaten</h2>
				<hr>
				{{#each burgers}} {{#unless this.devoured}}
				<div>
					<form action="/burgers/{{this.id}}?_method=PUT" method="POST">
						<button type="submit" class='btn btn-outline-success btn-rounded waves-effect btn-block'> {{this.burger_name}}</button>
					</form>
				</div>
				<p></p>
				{{/unless}} {{/each}}
			</div>

			<div class="card card-body">
				<h2 class="center">Eaten</h2>
				<hr>
				{{#each burgers}} {{#if this.devoured}}
				<div class='btn btn-outline-danger btn-rounded waves-effect btn-block'>
					<div>
						{{this.burger_name}}
					</div>
				</div>
				<p></p>
				{{/if}} {{/each}}
			</div>
		</div>
	</div>
</main>